.button-one {
    background: none;
    border-radius: 8px;
    height: 50px;
    width: 160px;
    border-color: #7562E0;
    color: lightyellow;
    font-size: medium;
    font-weight: bold;
}

.button-one:hover {
    background: #7562E0;
    cursor: pointer;
}

.button-two {
    background: none;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    border-color: #7562E0;
    color: lightyellow;
    font-size: medium;
    font-weight: bold;
}

.button-two:hover {
    background: #7562E0;
    cursor: pointer;
}