.container {
    background: #1A1A29;
    display: flex;
    height: 100vh;
    align-items: flex-end;
}

.description {
    align-self: center;
    color: lightyellow;
}

.photo {
    min-width: 650px;
    position: relative;
    height: 450px;
    overflow: hidden;
    text-align: center;
}

.photo::before {
    content: '';
    width: 650px;
    height: 450px;
    border-radius: 50%;
    background: #7562E0;
    position: absolute;
    left: 0;
    top: 100px;
}

.photo img {
    width: 380px;
    height: 450px;
    object-fit: cover;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}